
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 108rem;
}.frame-1-TrC {
  box-sizing: border-box;
  padding-bottom: 2.2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background: linear-gradient(142.61deg, #424769 0%, rgba(0, 0, 0, 0.8600000143) 79.48%);
}
.frame-1-TrC .auto-group-dunp-EkU {
  margin-bottom: 3.1rem;
  width: 113.3rem;
  height: 351.2rem;
  position: relative;
  flex-shrink: 0;
}
.frame-1-TrC .auto-group-dunp-EkU .pngtreedepressed-man-thinking-of-suicide8786221-1-HcG {
  width: 54.7rem;
  height: 54.7rem;
  position: absolute;
  left: 34.2rem;
  top: 10.7rem;
  object-fit: cover;
  vertical-align: top;
}
.frame-1-TrC .auto-group-dunp-EkU .pngtreedepression-and-mental-health-concept8902934-1-v9S {
  width: 55.9rem;
  height: 78.6rem;
  position: absolute;
  left: 57.4rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.frame-1-TrC .auto-group-dunp-EkU .vector-1-2CU {
  width: 108rem;
  height: 292.9rem;
  position: absolute;
  left: 0;
  top: 57.1rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-1-TrC .auto-group-dunp-EkU .vector-2-9nt {
  width: 108rem;
  height: 291.3rem;
  position: absolute;
  left: 0;
  top: 58.7rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-1-TrC .auto-group-dunp-EkU .shutterstock1347450608resizee-1-HeC {
  width: 75.7rem;
  height: 39.8rem;
  position: absolute;
  left: 16.2rem;
  top: 285.7rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 5rem;
}
.frame-1-TrC .auto-group-dunp-EkU .gangguan-kesehatan-mental-pada-remaja-bPz {
  width: 46.4rem;
  height: 31.1rem;
  position: absolute;
  left: 5.2rem;
  top: 24.2rem;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.frame-1-TrC .auto-group-dunp-EkU .gangguan-kesehatan-mental-pada-remaja-bPz .gangguan-kesehatan-mental-pada-remaja-bPz-sub-0 {
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ff0d0d;
  font-family: Inter, 'Source Sans Pro';
}
.frame-1-TrC .auto-group-dunp-EkU .gangguan-kesehatan-mental-pada-remaja-bPz .gangguan-kesehatan-mental-pada-remaja-bPz-sub-1 {
}
.frame-1-TrC .auto-group-dunp-EkU .gangguan-kesehatan-mental-pada-remaja-bPz .gangguan-kesehatan-mental-pada-remaja-bPz-sub-2 {
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #fc0000;
  font-family: Inter, 'Source Sans Pro';
}
.frame-1-TrC .auto-group-dunp-EkU .gangguan-kesehatan-mental-pada-remaja-bPz .gangguan-kesehatan-mental-pada-remaja-bPz-sub-3 {
}
.frame-1-TrC .auto-group-dunp-EkU .jaskoji-w8Q {
  width: 13.6rem;
  height: 3.9rem;
  position: absolute;
  left: 11.5rem;
  top: 5.9rem;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-1-TrC .auto-group-dunp-EkU .melayani-sepenuh-hati-3SL {
  width: 13.8rem;
  height: 1.6rem;
  position: absolute;
  left: 11.5rem;
  top: 9.9rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-1-TrC .auto-group-dunp-EkU .medical-team-1-Ydz {
  width: 5.8rem;
  height: 6.1164rem;
  position: absolute;
  left: 5.2rem;
  top: 5.9rem;
  object-fit: cover;
  vertical-align: top;
}
.frame-1-TrC .auto-group-dunp-EkU .masa-remaja-merupakan-masa-transisi-dari-masa-kanak-kanak-ke-masa-dewasa-pada-masa-ini-remaja-mengalami-berbagai-perubahan-fisik-emosional-dan-sosial-perubahan-perubahan-tersebut-dapat-menimbulkan-stres-dan-tekanan-yang-dapat-meningkatkan-risiko-terjadinya-gangguan-kesehatan-mental-UGk {
  width: 97.8rem;
  height: 27.2rem;
  position: absolute;
  left: 2.9rem;
  top: 96.4rem;
  display: flex;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.288rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.frame-1-TrC .auto-group-dunp-EkU .menurut-data-dari-who-sekitar-1-dari-7-remaja-di-dunia-mengalami-gangguan-kesehatan-mental-gangguan-kesehatan-mental-yang-paling-umum-terjadi-pada-remaja-adalah-gangguan-kecemasan-depresi-dan-gangguan-perilaku-dJ4 {
  width: 101.6rem;
  height: 19.4rem;
  position: absolute;
  left: 2.9rem;
  top: 124.45rem;
  display: flex;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.288rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.frame-1-TrC .auto-group-dunp-EkU .gangguan-kecemasan-RUp {
  width: 39.9rem;
  height: 3.9rem;
  position: absolute;
  left: 2.9rem;
  top: 148.1rem;
  display: flex;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.2125;
  letter-spacing: 0.288rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-1-TrC .auto-group-dunp-EkU .gangguan-kecemasan-adalah-gangguan-mental-yang-ditandai-dengan-perasaan-cemas-yang-berlebihan-dan-tidak-terkendali-kecemasan-dapat-muncul-dalam-berbagai-bentuk-seperti-rasa-khawatir-gelisah-takut-dan-panik-iyi {
  width: 96.9rem;
  height: 19.4rem;
  position: absolute;
  left: 2.9rem;
  top: 156.25rem;
  display: flex;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.288rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.frame-1-TrC .auto-group-dunp-EkU .gangguan-kecemasan-yang-sering-terjadi-pada-remaja-antara-lain--j88 {
  width: 98.2rem;
  height: 7.8rem;
  position: absolute;
  left: 2.9rem;
  top: 179.9rem;
  display: flex;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.2125;
  letter-spacing: 0.288rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.frame-1-TrC .auto-group-dunp-EkU .gangguan-kecemasan-umum-generalized-anxiety-disorder-gad-ditandai-dengan-perasaan-cemas-yang-berlebihan-dan-tidak-terkendali-yang-dapat-berlangsung-selama-beberapa-minggu-atau-lebih-gangguan-panik-ditandai-dengan-serangan-panik-yang-tiba-tiba-dan-berulang-fobia-spesifik-ditandai-dengan-ketakutan-yang-berlebihan-dan-tidak-rasional-terhadap-suatu-objek-atau-situasi-tertentu-gangguan-kecemasan-sosial-ditandai-dengan-rasa-cemas-yang-berlebihan-dan-tidak-terkendali-dalam-situasi-sosial-1bS {
  width: 102.6rem;
  height: 58.2rem;
  position: absolute;
  left: 2.9rem;
  top: 192.05rem;
  display: flex;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.288rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.frame-1-TrC .auto-group-dunp-EkU .depresi-jA4 {
  width: 14rem;
  height: 3.9rem;
  position: absolute;
  left: 2.9rem;
  top: 255.2rem;
  display: flex;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.2125;
  letter-spacing: 0.288rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-1-TrC .auto-group-dunp-EkU .depresi-adalah-gangguan-mental-yang-ditandai-dengan-perasaan-sedih-putus-asa-dan-kehilangan-minat-atau-kesenangan-dalam-aktivitas-sehari-hari-depresi-dapat-menyebabkan-berbagai-masalah-seperti-gangguan-tidur-gangguan-makan-dan-kesulitan-berkonsentrasi-2ur {
  width: 102.3rem;
  height: 19.4rem;
  position: absolute;
  left: 2.9rem;
  top: 263.95rem;
  display: flex;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.288rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.frame-1-TrC .auto-group-dunp-EkU .depresi-merupakan-gangguan-kesehatan-mental-yang-serius-dan-dapat-berdampak-negatif-terhadap-kehidupan-remaja-remaja-yang-mengalami-depresi-berisiko-lebih-tinggi-untuk-melakukan-bunuh-diri-ct4 {
  width: 102.2rem;
  height: 15.6rem;
  position: absolute;
  left: 2.9rem;
  top: 327.7rem;
  display: flex;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.288rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.frame-1-TrC .auto-group-dunp-EkU .mie-1-2wn {
  width: 12rem;
  height: 12rem;
  position: absolute;
  left: 48rem;
  top: 65.4rem;
  object-fit: cover;
  vertical-align: top;
}
.frame-1-TrC .auto-group-dunp-EkU .mie-2-xKe {
  width: 11rem;
  height: 11rem;
  position: absolute;
  left: 37rem;
  top: 57.1rem;
  object-fit: cover;
  vertical-align: top;
}
.frame-1-TrC .gangguan-perilaku-shW {
  margin-left: 2.9rem;
  display: flex;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.2125;
  letter-spacing: 0.288rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-1-TrC .auto-group-vzeu-xix {
  box-sizing: border-box;
  padding: 1.8rem 2.8rem 5.15rem 2.9rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.frame-1-TrC .auto-group-vzeu-xix .gangguan-perilaku-1-3kQ {
  margin: 0rem 0.2rem 1.7rem 0rem;
  width: 89.3rem;
  height: 48.2rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 5rem;
  flex-shrink: 0;
}
.frame-1-TrC .auto-group-vzeu-xix .gangguan-perilaku-adalah-gangguan-mental-yang-ditandai-dengan-perilaku-yang-menyimpang-dari-norma-sosial-gangguan-perilaku-yang-sering-terjadi-pada-remaja-antara-lain--Yx4 {
  margin: 0rem 4.7rem 3.15rem 0rem;
  max-width: 97.6rem;
  display: flex;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.288rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.frame-1-TrC .auto-group-vzeu-xix .gangguan-hiperaktif-dan-defisit-perhatian-attention-deficit-hyperactivity-disorder-adhd-ditandai-dengan-gejala-hiperaktif-impulsif-dan-kesulitan-memusatkan-perhatian-gangguan-perilaku-antisosial-antisocial-personality-disorder-ditandai-dengan-perilaku-agresif-kasar-dan-tidak-peduli-terhadap-perasaan-orang-lain-gangguan-perilaku-makan-ditandai-dengan-pola-makan-yang-tidak-sehat-seperti-anoreksia-nervosa-bulimia-nervosa-dan-binge-eating-disorder-Z6U {
  margin: 0rem 3.9rem 3.15rem 0rem;
  max-width: 98.4rem;
  display: flex;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.288rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.frame-1-TrC .auto-group-vzeu-xix .penyebab-gangguan-kesehatan-mental-pada-remaja-fYp {
  margin: 0rem 7.7rem 3.9rem 0rem;
  display: flex;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.2125;
  letter-spacing: 0.288rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-1-TrC .auto-group-vzeu-xix .ilustrasi-bermain-game-mobile-legends-1-kqA {
  margin-bottom: 4rem;
  width: 88.9rem;
  height: 48.3rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 5rem;
  flex-shrink: 0;
}
.frame-1-TrC .auto-group-vzeu-xix .penyebab-gangguan-kesehatan-mental-pada-remaja-tidak-sepenuhnya-diketahui-namun-diduga-ada-beberapa-faktor-yang-dapat-meningkatkan-risiko-terjadinya-gangguan-kesehatan-mental-pada-remaja-antara-lain--UFN {
  margin: 0rem 0.8rem 4.85rem 0rem;
  max-width: 101.5rem;
  display: flex;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.288rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.frame-1-TrC .auto-group-vzeu-xix .faktor-genetik-gangguan-kesehatan-mental-dapat-diturunkan-dari-orang-tua-ke-anak-faktor-lingkungan-stres-trauma-dan-pelecehan-dapat-meningkatkan-risiko-terjadinya-gangguan-kesehatan-mental-pada-remaja-faktor-biologis-perubahan-hormon-dan-otak-selama-masa-remaja-dapat-meningkatkan-risiko-terjadinya-gangguan-kesehatan-mental-h88 {
  margin: 0rem 4.7rem 4.05rem 0rem;
  max-width: 97.6rem;
  display: flex;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.288rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.frame-1-TrC .auto-group-vzeu-xix .gejala-gangguan-kesehatan-mental-pada-remaja-fjA {
  margin: 0rem 13.9rem 4.2rem 0rem;
  display: flex;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.2125;
  letter-spacing: 0.288rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-1-TrC .auto-group-vzeu-xix .konsentrasi-1-9uE {
  margin: 0rem 0.1rem 4.2rem 0rem;
  width: 91.4rem;
  height: 56.2rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 5rem;
  flex-shrink: 0;
}
.frame-1-TrC .auto-group-vzeu-xix .gejala-gangguan-kesehatan-mental-pada-remaja-dapat-bervariasi-tergantung-pada-jenis-gangguannya-namun-secara-umum-gejala-gangguan-kesehatan-mental-pada-remaja-dapat-meliputi--GU4 {
  margin: 0rem 1.6rem 2.95rem 0rem;
  max-width: 100.7rem;
  display: flex;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.288rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.frame-1-TrC .auto-group-vzeu-xix .perubahan-perilaku-seperti-mudah-marah-menarik-diri-dari-lingkungan-sosial-atau-melanggar-aturan-perubahan-suasana-hati-seperti-merasa-sedih-cemas-atau-marah-secara-berlebihan-perubahan-fisik-seperti-gangguan-tidur-gangguan-makan-atau-kelelahan-kesulitan-berkonsentrasi-masalah-belajar-gangguan-hubungan-sosial-Jfe {
  margin: 0rem 4.5rem 2.95rem 0rem;
  max-width: 97.8rem;
  display: flex;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.288rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.frame-1-TrC .auto-group-vzeu-xix .penanganan-gangguan-kesehatan-mental-pada-remaja-5Zv {
  margin: 0rem 3.2rem 2.9rem 0rem;
  display: flex;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.2125;
  letter-spacing: 0.288rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-1-TrC .auto-group-vzeu-xix .penanganan-gangguan-kesehatan-mental-pada-remaja-tergantung-pada-jenis-gangguannya-namun-secara-umum-penanganan-gangguan-kesehatan-mental-pada-remaja-dapat-meliputi--mxY {
  margin: 0rem 6.6rem 4.9rem 0rem;
  max-width: 95.7rem;
  display: flex;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.288rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.frame-1-TrC .auto-group-vzeu-xix .terapi-terapi-merupakan-salah-satu-penanganan-utama-untuk-gangguan-kesehatan-mental-terapi-dapat-membantu-remaja-untuk-memahami-dan-mengatasi-masalah-yang-mereka-alami-obat-obatan-obat-obatan-dapat-digunakan-untuk-membantu-mengatasi-gejala-gangguan-kesehatan-mental-dukungan-keluarga-dan-teman-dukungan-dari-keluarga-dan-teman-dapat-membantu-remaja-untuk-mengatasi-gangguan-kesehatan-mentalnya-RXJ {
  margin: 0rem 0.3rem 4.1rem 0rem;
  max-width: 102rem;
  display: flex;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.288rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.frame-1-TrC .auto-group-vzeu-xix .pencegahan-gangguan-kesehatan-mental-pada-remaja-aYc {
  margin: 0rem 3.2rem 4rem 0rem;
  display: flex;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.2125;
  letter-spacing: 0.288rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-1-TrC .auto-group-vzeu-xix .contoh-melestarikan-lingkungan-sekitar-bangkitkan-kesadaran-mulai-dari-hal-kecil-1-GwE {
  margin: 0rem 0.1rem 3.9rem 0rem;
  width: 90.2rem;
  height: 53.6rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 5rem;
  flex-shrink: 0;
}
.frame-1-TrC .auto-group-vzeu-xix .ada-beberapa-hal-yang-dapat-dilakukan-untuk-mencegah-terjadinya-gangguan-kesehatan-mental-pada-remaja-antara-lain--A12 {
  margin: 0rem 0.2rem 2.15rem 0rem;
  max-width: 102.1rem;
  display: flex;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.288rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.frame-1-TrC .auto-group-vzeu-xix .menciptakan-lingkungan-yang-positif-dan-mendukung-lingkungan-yang-positif-dan-mendukung-dapat-membantu-remaja-untuk-merasa-aman-dan-nyaman-meningkatkan-keterampilan-koping-keterampilan-koping-yang-baik-dapat-membantu-remaja-untuk-mengatasi-stres-dan-tekanan-meningkatkan-kesadaran-akan-kesehatan-mental-remaja-perlu-menyadari-pentingnya-kesehatan-mental-dan-bagaimana-cara-menjaganya-pbN {
  margin: 0rem 0.4rem 4.5rem 0rem;
  max-width: 101.9rem;
  display: flex;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.288rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.frame-1-TrC .auto-group-vzeu-xix .jika-anda-atau-orang-yang-anda-kenal-mengalami-gangguan-kesehatan-mental-segeralah-cari-bantuan-profesional-pengobatan-dan-dukungan-yang-tepat-dapat-membantu-remaja-untuk-mengatasi-gangguan-kesehatan-mentalnya-dan-menjalani-hidup-yang-sehat-dan-bahagia-BKS {
  max-width: 102.3rem;
  display: flex;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.288rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.frame-1-TrC .auto-group-eeui-QCC {
  margin-bottom: 2.8rem;
  box-sizing: border-box;
  padding: 5rem 13.5rem 7.4rem 13.4rem;
  width: 100%;
  height: 44.5rem;
  display: flex;
  align-items: center;
  background-color: #2d3250;
  flex-shrink: 0;
}
.frame-1-TrC .auto-group-eeui-QCC .auto-group-t24t-6ap {
  margin: 3.2rem 1.6rem 0rem 0rem;
  width: 9rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.frame-1-TrC .auto-group-eeui-QCC .auto-group-t24t-6ap .medical-team-2-2Da {
  width: 9rem;
  height: 8.9143rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-1-TrC .auto-group-eeui-QCC .auto-group-t24t-6ap .auto-group-gkjt-ZUQ {
  box-sizing: border-box;
  padding: 2.886rem 1rem 0rem 1rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.frame-1-TrC .auto-group-eeui-QCC .auto-group-t24t-6ap .auto-group-gkjt-ZUQ .map-1-VN4 {
  margin-bottom: 2.9rem;
  width: 7rem;
  height: 7rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-1-TrC .auto-group-eeui-QCC .auto-group-t24t-6ap .auto-group-gkjt-ZUQ .gmail-1-EKe {
  width: 7rem;
  height: 7rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-1-TrC .auto-group-eeui-QCC .auto-group-f2uc-aPW {
  margin: 3.9rem 19.4rem 2.3rem 0rem;
  height: calc(100% - 6.2rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.frame-1-TrC .auto-group-eeui-QCC .auto-group-f2uc-aPW .auto-group-qjtq-hj2 {
  margin: 0rem 0rem 5.4rem 0.1rem;
  width: 17rem;
  height: 6.7rem;
  position: relative;
  flex-shrink: 0;
}
.frame-1-TrC .auto-group-eeui-QCC .auto-group-f2uc-aPW .auto-group-qjtq-hj2 .jaskoji-dcg {
  width: 17rem;
  height: 4.9rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-1-TrC .auto-group-eeui-QCC .auto-group-f2uc-aPW .auto-group-qjtq-hj2 .melayani-sepenuh-hati-XTA {
  width: 16.9rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 4.7rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-1-TrC .auto-group-eeui-QCC .auto-group-f2uc-aPW .jl-aki-babu-karang-harapan-kec-tarakan-bar-kota-tarakan-kalimantan-utara-Dqn {
  margin-bottom: 6.2rem;
  max-width: 23.5rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.frame-1-TrC .auto-group-eeui-QCC .auto-group-f2uc-aPW .ahsanulfarizgmailcom-hkx {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-1-TrC .auto-group-eeui-QCC .auto-group-t4fn-DzC {
  margin-top: 11.6rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.frame-1-TrC .auto-group-eeui-QCC .auto-group-t4fn-DzC .item-20221005072315-1-NcC {
  margin-bottom: 1.1rem;
  width: 12.1rem;
  height: 12.3rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 14rem;
  flex-shrink: 0;
}
.frame-1-TrC .auto-group-eeui-QCC .auto-group-t4fn-DzC .rahman-4jv {
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-1-TrC .auto-group-eeui-QCC .auto-group-6onu-QHz {
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.frame-1-TrC .auto-group-eeui-QCC .auto-group-6onu-QHz .s20felmc13arclib1308-1-AHA {
  margin: 0rem 2.6rem 0.7rem 0rem;
  width: 12rem;
  height: 12rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 6.6rem;
  flex-shrink: 0;
}
.frame-1-TrC .auto-group-eeui-QCC .auto-group-6onu-QHz .nazril-irham-G5J {
  margin: 0rem 2.6rem 1.3rem 0rem;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-1-TrC .auto-group-eeui-QCC .auto-group-6onu-QHz .item-2024-01-16-21-11-47-308-1-Nu2 {
  margin: 0rem 0rem 1.1rem 2.6rem;
  width: 12rem;
  height: 12rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 6rem;
  flex-shrink: 0;
}
.frame-1-TrC .auto-group-eeui-QCC .auto-group-6onu-QHz .azri-52k {
  margin-left: 2.6rem;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-1-TrC .tugas-mapel-bahasa-indonesia-P3S {
  margin-left: 29.2rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
